doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(
            rel="stylesheet",
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
            integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
            crossorigin="anonymous")
        script(
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous")
        style
            include ../public/style.css
        title Todo List 
    body
        div.container.width-600
            div.row
                div.col
                    h1 Todo List
            div.row
                div.col-8
                    input(name="todo-title" id="todo-title" class="form-control" placeholder="Enter todo title")
                div.col-8.margin-top-20
                    input(name="todo-description" id="todo-description" class="form-control" placeholder="Enter todo description")
                div.col-4
                    button(class="btn btn-primary" onclick="handleSubmit()") Add Todo
            div.margin-top-20
                each todo in todos
                    div.row
                        div.col-1
                            input(
                                type="checkbox"
                                name= todo._id
                                onchange="handleCheck(this)"
                                id= todo._id
                                checked= todo.completed
                                data-id= todo._id
                                class="form-check-input"
                            )
                        div.col
                            label(for= todo._id) 
                                input(name="title-"+todo._id id="title-"+todo._id class="form-control" value=todo.title)
                                input(name="description-"+todo._id id="description-"+todo._id class="form-control my-2" value=todo.description)
                                h3.todo-title #{todo.title}
                                p.todo-description.mb-4 #{todo.description}
                                div.col
                                    button(class="btn btn-warning" id=todo._id onclick="handleRemove(event)") remove
                                    button(class="btn btn-primary mx-2 update" id="update-"+todo._id onclick="handleUpdate(event)") update
                                    button(class="btn btn-primary mx-2 submit" id="submit-"+todo._id, onclick="handleSubmitUpdate(event)") submit
                                    button(class="btn btn-secondary cancel" id="cancel-"+todo._id onclick="handleCancelUpdate(event)") cancel

        script
            include ../public/main.js